*
{
    margin: 0;
    padding: 0;
    outline: none;
}
/* обнуляем все элементы *//* общие стили */
html
{
    font-size: 75%;
}
body
{
    font: normal 1em/1.3 arial, helvetica, sans-serif;
    color: #2f3a5f;
    background: #f0f0f0;
}

header, nav, section, article, aside, footer
{
    display: block;
    overflow: hidden;
}
/* выравниваем страницу по центру, делаем отступы и цвет фона */
#main
{
    width: 940px;
    min-height: 100%;
    margin: 0 auto;
    background: #fff;
}
/* пишем класс для шапки - header */
#main > header
{
    border: 2px solid #5bd967;
    height: 130px;
}
/* меню навигации */
nav
{
    width: 100%;
    height: 32px;
    /*background: #52d75e;*/
}
/* область основного контента */
#main > section
{
    overflow: hidden;
    padding-bottom: 20px;
    border-right: dotted 1px #c86912;
    border-left: dotted 1px #c86912;
}
section section
{
    float: left;
    width: 700px;
    min-height: 450px;
    padding: 0px 10px 10px 20px;
    /*background-image: url('../img/fon2.png'), url('../img/fon.png');*/
    background-repeat: no-repeat, repeat-y;
    background-position: right bottom, left top;
    box-shadow: 2px 2px 10px black;
}
/* правая часть */
aside
{
    width: 200px;
    background-color: #e0dcdc;
    float: right;
    padding: 0px 0px 25px 0px;
    border-bottom-right-radius: 20px 20px;
    border-top-left-radius: 20px 20px;
    min-height: 433px;
        box-shadow: 2px 2px 10px black;
}
/* нижняя часть - footer */
footer
{
    height: 40px;
    clear: both;
    padding: 10px 30px 0 25px;
    margin: 0px 0 0 0;
    border-top: 1px solid #5bd967;
}

nav li
{
    float: left;
    margin: 8px 20px 0;
}
nav a
{
    font-weight: bold;
    text-decoration: none;
    color: #2f3a5f;
}
nav a:hover
{
    text-decoration: underline;
    color: #a85406;
}

/* стиль для картинки */
.image
{
    margin: 10px 0;
}
/* внутренняя область контента */


P:first-letter
{
    font-family: "Times New Roman" , Times, serif; /* Гарнитура шрифта первой буквы */
    font-size: 200%; /* Размер шрифта первого символа */
    color: #a85406;
}
p::first-line
{
    line-height: normal;
}
aside h2, ul
{
    margin-left: 15px;
}
.active
{
    text-decoration: underline;
}
a
{
    color: #2f3a5f;
}
a:hover
{
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6
{
    font-weight: normal;
    line-height: 1;
    margin: 8px 0 12px;
    color: #2f3a5f;
    text-shadow: black 1px 1px;
}
h1
{
    font-size: 1.88em;
    padding-left: 10px;
}
p
{
    text-align: justify;
    word-spacing: .1ex;
    line-height: 1.6;
    margin-bottom: 1em;
}
nav ul, aside ul
{
    list-style: none;
}
ol
{
    list-style-position: inside;
}



.button-yellow
{
  width: 50px;
  height: 20px;
  background: yellow;
}

tr, th, td{
    border: 1px solid black;
}

td, th{
    padding: 5px;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

select{
    width: 300px;
    margin: 10px;
}