
:root{
    --main_color: rgb(150 92 42);
    --back_color: rgb(245, 245, 255);
    --second-color: rgb(167, 167, 167);
}

@font-face {
    font-family: 'versus';
    src: url(static/versus-ultra_RUS_BY_LYAJKA.otf) format("truetype");
}

@font-face {
    font-family: 'BalooBhaijaan2';
    src: url(static/BalooBhaijaan2-Regular.ttf) format("truetype");
}

* {
    margin: 0;
    padding: 0;
    font-family: BalooBhaijaan2;
    text-decoration: none;
    font-size: 15px;
    color: #fafaff;
}

body{
    background-color: var(--back_color);
}

header {
    background: var(--main_color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    transition: 0.6s;
}

.header_hidden {
    transform: translateY(-100%);
}

.logo_wrap{
    margin-left: 30px;
    display: flex;
    height: 50px;
    width: 200px;
}

.logo{
    margin-left: 8%;
    font-weight: bold;
    font-size: clamp(16pt, 20pt,30pt);
    color: #fafaff;
}

nav{
    display: flex;
    margin-right: 3rem;
}

.wrap_a{
    margin-left: 3rem;
}

a{
    font-size: clamp(10pt, 12pt, 14pt);
    color: #fafaff;
}

.underline{
    background-color: white;
    height: 2px;
    width: 100%;
}

footer {
    background-color: rgb(128, 81, 40);
    bottom: 0;
    margin: 0;
    width: 100%;
    min-height: 10em; 
    color: #fafaff;
    display: flow-root;
}

.footer{
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}

.wrap_footer{
    margin: 10px;
}

.footer_title{
    font-size: 16pt;
    font-weight: bold;
    margin: 20px;
    color: #fafaff;
}

ul, ul li{
    list-style-type: none;
    color: #fafaff;
}

.footer_bottom{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: space-around;
    margin-bottom: 15px;
}

.footer_bottom a{
    color: var(--second-color);
    text-decoration: none;
    font-size: 11pt;
}


